In [3]:
import pandas as pd

In [4]:
df_titanic = pd.read_csv("/content/test.csv")

In [5]:
df_titanic

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [6]:
df_titanic["Name"]

0                                  Kelly, Mr. James
1                  Wilkes, Mrs. James (Ellen Needs)
2                         Myles, Mr. Thomas Francis
3                                  Wirz, Mr. Albert
4      Hirvonen, Mrs. Alexander (Helga E Lindqvist)
                           ...
413                              Spector, Mr. Woolf
414                    Oliva y Ocana, Dona. Fermina
415                    Saether, Mr. Simon Sivertsen
416                             Ware, Mr. Frederick
417                        Peter, Master. Michael J
Name: Name, Length: 418, dtype: object

In [7]:
df = df_titanic["Name", "Sex", "Age"]

KeyError: ('Name', 'Sex', 'Age')

In [8]:
df_titanic[["Name", "Age", "Sex"]]

                                             Name   Age     Sex
0                                Kelly, Mr. James  34.5    male
1                Wilkes, Mrs. James (Ellen Needs)  47.0  female
2                       Myles, Mr. Thomas Francis  62.0    male
3                                Wirz, Mr. Albert  27.0    male
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0  female
..                                            ...   ...     ...
413                            Spector, Mr. Woolf   NaN    male
414                  Oliva y Ocana, Dona. Fermina  39.0  female
415                  Saether, Mr. Simon Sivertsen  38.5    male
416                           Ware, Mr. Frederick   NaN    male
417                      Peter, Master. Michael J   NaN    male

[418 rows x 3 columns]

In [9]:
newdf = df_titanic[["Name", "Age", "Sex"]]

In [10]:
newdf

                                             Name   Age     Sex
0                                Kelly, Mr. James  34.5    male
1                Wilkes, Mrs. James (Ellen Needs)  47.0  female
2                       Myles, Mr. Thomas Francis  62.0    male
3                                Wirz, Mr. Albert  27.0    male
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0  female
..                                            ...   ...     ...
413                            Spector, Mr. Woolf   NaN    male
414                  Oliva y Ocana, Dona. Fermina  39.0  female
415                  Saether, Mr. Simon Sivertsen  38.5    male
416                           Ware, Mr. Frederick   NaN    male
417                      Peter, Master. Michael J   NaN    male

[418 rows x 3 columns]

In [11]:
newdf["Age"].mean()

30.272590361445783

In [12]:
newdf["Sex"].replace("male", 0).replace("female", 1)

<ipython-input-12-9487548d2642>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  newdf["Sex"].replace("male", 0).replace("female", 1)

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Sex, Length: 418, dtype: int64

In [13]:
passengers = len(newdf)

In [14]:
passengers

418

In [15]:
print(f"The number of passengers is {passengers}")

The number of passengers is 418

In [16]:
rows = newdf.shape[0]

In [17]:
print(f"The number of passengers is {rows}")

The number of passengers is 418

In [18]:
num_of_rows = newdf.index.size

In [19]:
num_of_rows

418

In [20]:
women = newdf[newdf["Sex"] == 1]

In [21]:
women

Empty DataFrame
Columns: [Name, Age, Sex]
Index: []

In [22]:
gender_counts = newdf["Sex"].value_counts()

In [23]:
gender_counts

Sex
male      266
female    152
Name: count, dtype: int64

In [24]:
print(f"Number of women on the Titanic was {gender_counts.get(1)}")

Number of women on the Titanic was 152

<ipython-input-24-32de6585a8a5>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"Number of women on the Titanic was {gender_counts.get(1)}")

In [25]:
print(f"Number of men on the Titanic was {gender_counts.get(0)}")

Number of men on the Titanic was 266

<ipython-input-25-97726b4800f3>:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"Number of men on the Titanic was {gender_counts.get(0)}")

In [26]:
newdf["Year of birth"] = [1912 - elem for elem in newdf["Age"]]

<ipython-input-26-c8ef4f38e1ca>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf["Year of birth"] = [1912 - elem for elem in newdf["Age"]]

In [27]:
df_titanic["Year of birth"] = [1912 - elem for elem in df_titanic["Age"]]

In [28]:
df_titanic

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Year of birth
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,1877.5
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1865.0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,1850.0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,1885.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1890.0
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,NaN
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1873.0
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,1873.5
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,NaN
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,NaN

In [30]:
df_titanic[["Age", "Year of birth"]]

      Age  Year of birth
0    34.5         1877.5
1    47.0         1865.0
2    62.0         1850.0
3    27.0         1885.0
4    22.0         1890.0
..    ...            ...
413   NaN            NaN
414  39.0         1873.0
415  38.5         1873.5
416   NaN            NaN
417   NaN            NaN

[418 rows x 2 columns]